.light {
  --main-color: #1c1d25;
  --main-background-color: #ebebeb;
  --filter: blur(200px);
  --filterIcons: invert(1);
  --secondary-color: rgb(25, 150, 161);
}
.dark {
  --main-color: white;
  --main-background-color: #1c1d25;
  --secondary-color: #eeef58;
  --filter: blur(100px);
  --filterIcons: none;
}
* {
  font-family: monospace;
}
.hero {
  background-color: var(--main-background-color);
  position: relative;
}
#contact {
  background-color: var(--main-background-color);
  color: var(--main-color);
}

body {
  background-color: #fefefe;
  text-align: center;
}
.navbar {
  width: 100%;
  display: flex;
  height: 50px;
  float: right;
  justify-content: flex-end;
}
.navbar-container {
  height: 50px;
  width: 50%;
  align-items: center;
  float: right;
  display: flex;
  justify-content: space-around;
}
h1 {
  font-size: 40px;
  margin-top: 30px;
  color: #1c1d25;
}
h2 {
  text-align: left;
}
section {
  padding: 10% 5% 10% 5%;
}
.navbar-item {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}
.navbar-item:hover {
  color: var(--secondary-color);
}
/*////////////////Toggle///////////////////////*/
.theme-toggle {
  --size: 25px;
  position: relative;
  width: calc(var(--size) * 2);
  height: var(--size);
  background-color: var(--main-color);
  border-radius: 15px;
}

.theme-toggle label {
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translateY(-52%);
  width: var(--size);
  height: var(--size);
  background-color: #eeef58;
  border-radius: 50%;
  transition: 150ms left;
  cursor: pointer;
  border: 2px solid #eeef58;
  z-index: 1;
}

input[type="checkbox"]:checked ~ label {
  left: calc(100% - var(--size));
}

.theme-toggle input[type="checkbox"] {
  display: none;
}

.theme-toggle span {
  position: absolute;
  top: 0;
  left: calc(100% - 23px);
}

.theme-toggle .on {
  left: 2.5px;
}

input[type="checkbox"]:checked ~ .on {
  display: block;
}
#mobile-menu {
  display: none;
}
.hidden {
  display: none !important;
}
/***********************************About*****************/
.aboutInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.aboutContainer {
  padding: 5%;
  background-color: var(--main-background-color);
}
#downloadButton {
  color: var(--main-background-color);
  background-color: var(--main-color);
}
#aboutText {
  color: var(--main-color);
}
.about2container {
  width: 50%;
}
.projectContainer {
  padding: 5%;
}
/*///////////////////////////////////////////////*/
.projectContainer {
  display: flex;
}
.imagesListDisplay {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  padding: 0;
  font-size: 0.85em;
  margin-top: 20px;
}

div.post {
  position: relative;
  overflow: hidden;
}
.imageHover {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 100;
}

.projectInfo p {
  text-align: justify;

  font-size: 1.2em;
}
.projectImageContainer,
.projectInfo {
  flex: 1;
  padding: 5%;
}
.moreInfoButton {
  color: white;
  background-color: #1c1d25;

  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  transition: 0.5s ease;
}
.moreInfoButton:hover {
  background-color: #eeef58;
  color: #1c1d25;
}
.post:hover .image {
  opacity: 0.3;
}

.post:hover .imageHover {
  opacity: 1;
}
div.post :hover {
}
.imageHeader {
  display: inline-flex;
}
.imageHeaderImg img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 5px;
  object-fit: cover;
}

#imageProfile img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
div.image {
  display: inline-block;
  padding: 2em 2em;
  margin: 0 0 1.5em;
  width: 100%;
  height: auto;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}
.backgroundImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(50px);
  background-size: cover;
}
.backgroundImage ::before {
  filter: blur(20px);
}
img.images {
  width: 100%;
}

div.image img {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .imagesListDisplay {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .imagesListDisplay {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 1001px) {
  .imagesListDisplay {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

#profile-image {
  width: 200px;
  height: 200px;
}
#profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
#footer {
  width: 100vw;
  height: 20vh;
  position: relative;
  padding-top: 5%;
}

#footerLinks a {
  color: var(--main-color);
  text-decoration: none;
}
#footer a {
  color: var(--main-color);
}
#footerLinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  -webkit-transition: 0.5s ease;
}
#footerLinks:hover {
  text-shadow: 0px -2px 0px rgba(0, 0, 0, 1), 0 0 5px rgba(255, 255, 255, 0.8),
    0 -4px 15px rgba(255, 255, 255, 0.5);
}
#footerLinks:nth-of-type(1):hover ~ .underbar {
  left: 0;
  width: 40px;
  background: rgba(100, 100, 200, 1);
}
#footerLinks:nth-of-type(2):hover ~ .underbar {
  left: 50px;
  width: 40px;
  background: rgba(200, 100, 100, 1);
}
#footerLinks:nth-of-type(3):hover ~ .underbar {
  left: 100px;
  width: 40px;
  height: 1px;
  background: rgba(150, 250, 250, 0.5);
  box-shadow: 0 0 10px rgba(70, 250, 250, 1);
}
#footerLinks:nth-of-type(4):hover ~ .underbar {
  left: 150px;
  width: 50px;
  height: 1px;
  background: rgba(150, 250, 250, 0.5);
  box-shadow: 0 0 10px rgba(70, 250, 250, 1);
}

.footerText {
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footerText p {
  color: var(--main-color);
}
.icons {
  width: 60px;
  height: auto;
  margin: 5px;
  filter: grayscale(100%);
}
.icons:hover {
  filter: grayscale(0%);
}
/********************************************/

.hero a span {
  position: absolute;
  bottom: 50;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
  filter: var(--filterIcons);
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
.socialIcons {
  position: absolute;
  margin: 20px;
  right: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
}
.socialIcons img {
  width: 30px;
  height: auto;
  margin: 10px;
  filter: var(--filterIcons);
}
